/* formulario.css */
body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #314550; /* Fondo oscuro */
    color: #F2F2F2; /* Texto claro */
    animation: movimiento 1s ease-in forwards;
}

/* Animación de entrada */
@keyframes movimiento {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Contenedor del título estilo header */
.title-container {
    background: #314550;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

header h1 {
    color: #F2F2F2;
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    margin: 10;
}

.title-container p {
    color: #62D9CD;
    font-family: 'Montserrat';
    font-style: italic;
    font-size: 22px;
    margin-top: 5px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

/* Logo opcional */
.logo {
    position: absolute;
    top: 120%;
    left: 50%;
    bottom: auto;
    transform: translateX(-50%);
    width:200px !important; /* Forzar la propiedad */
    height: auto !important;
    z-index: 10;
}


/* Contenedor principal */
.main-container {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

/* Sección de preguntas y asignaciones */
.input-section, .assignment {
    margin: 20px;
    padding: 20px;
    background: #5ABFBF;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: #203140;
    width: 80%;
    max-width: 600px;
}

/* Estilos inputs y selects */
input, select {
    padding: 10px;
    width: 80%; /* <--- antes era 100%, ahora lo hacemos más controlado */
    max-width: 400px; /* <--- limita el ancho para que no se vea gigante */
    height: 40px; /* <--- para que no se vea tan alto */
    margin-top: 10px;
    border: 1px solid #62D9CD;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos del botón */
button {
    background: #344F59;
    color: #62D9CD;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
    margin-top: 20px;
}

button:hover {
    background: #5ABFBF;
}

/* Pie de página */
footer {
    background: #344F59;
    color: #F2F2F2;
    padding: 10px;
    position: absolute;
    width: 98.5%;
    text-align: center;
    margin-left:0.25%;
    top: calc(100vh - 90px);
    font-size: 14px;
}


/* Lista opcional */
ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 18px;
    padding: 10px;
}

